{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="nav ">
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}", height="30", alt="logo">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'goods' %}">Goods</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link " href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>

    </nav>

    <div class="container" id="goodsInfo">
        <div class="row">
            <div class="cardspad col-lg-12">
                <div class="goodsInfoCards row">
                    {% for good in goods %}
                    <div class="goodsCard">
                        <div class="goodsCardItem">
                            <a href="../goodInfo/?test=a&goodid={{good.Product_Number}}">
                                <img class="imgSize", src="{{good.Product_img}}", alt="">
                            </a>
                            <div class="cardname">{{good.Product_Name}}</div>
                            <div class="cardprice">{{good.Product_Number}}</div>
                            <div class="cardprice">$ {{good.P1}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



</body>
</html>